@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrcfIA9c.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

body{
    background-color: #cfd2cf;
    font-family: 'Comfortaa';
}

.main{
    background-color: #f5eddc;
    margin: 1%;
    padding: 2%;
    border-radius: 20px;
}

@media (min-width: 770px){
    .main{
        height: 300px;
    }
}

@media (max-width: 769.99px){
    .main{
        height: 400px;
    }
}

.date-change{
    position: relative;
}

.text{
    display: inline;
    font-size: x-large;
    font-weight: bold;
    color: #83000f;
    margin: 5px;
}

@media (max-width: 769.99px){
    .text{
        display: block;
        text-align: center;
    }
}

@media (min-width: 770px){
    .input-position{
        position: absolute;
        display: inline;
        margin-left: 1%;
    }
}

@media (max-width: 769.99px){
    .input-position{
        margin: 1%;
        text-align: center;
    }
}

.date-input{
    border-radius: 5px;
    border-width: 1px;
    border-color: #eb1d36;
    color: black;
    font-size: x-large;
}

.scale-type{
    margin-top: 5%;
}

.date-scale{
    position: relative;
    height: 100px;
}  

.button-style{
    font-family: 'Comfortaa';
    font-size: x-large;
    border: none;
    background: none;
    color: #fa9494;
}

.button-style:hover{
    color: #eb1d36;
}

.slider-box{
    height: 90px;
    margin: 5px;
}

.slider {
    position: absolute;
    border-radius: 5px;
    background: #cfd2cf;
    height: 15px;
}


@media (min-width: 770px){
    .button-position{
        position: absolute;
        display: inline;
        top: 30%;
        left: 5%;
        width: 30%;
    }
    .button-style{
        display: block;
    }
    .slider {
        display: inline;
        width: 65%;
        top: 50%;
        left: 30%;
    }
}

@media (max-width: 769.99px){
    .button-position{
        text-align: center;
        width: 100%;
    }
    .slider-box{
        position: relative;
        padding-top: 10%;
    }
    .slider {
        display: block;
        width: 100%;
    }
}



.thumb {
    width: 10px;
    height: 10px;
    border-radius: 30px;
    border-style: solid;
    border-width: 5px;
    border-color: #eb1d36;
    position: relative;
    display: inline-block;
    background: white;
    cursor: pointer;
}

div #thumb-first{
    left: 10px;
    top: -3px;
}

div #thumb-second{
    left: 100px;
    top: -3px;
}




